
.pCard{
    width: 25rem;
    height: 32rem;
    margin:1.5rem auto;    
    border: 0.5px solid var(--color-principal);
    text-transform: capitalize;
    /* background-color: var(--segundo-complementario); */
    
}
.pCard:hover{
    transform: scale(1.05);
    transition: 2.5s;
    color: var(--color-claro);
    background-color: var(--color-oscuro);
    border:none;
}


.imgTarjeta{
    height: 15rem;
    min-height: 15rem;
    object-fit: cover;
    width: 90%;
    margin:1.2rem auto;
    border-radius:1.2rem;
    /* background-color: blueviolet; */
}
.cBody{
    /* background-color: chartreuse; */
    width: 90%;
    margin:0 auto;
    padding: 0;
    min-height: 9rem;
}
.cTitle{
    max-height: 7rem;
    /* background-color: blue; */
}
.cSubtitle{
    height: 1.5rem;
    /* background-color: blue; */
}
.cPrice{
    height: 5rem;
    /* background-color: blue; */
    font-size: xx-large;
    color:var(--color-principal);
}