<div className="container my-5">
    <footer className="bg-dark text-center text-white">
        <div className="container p-4 pb-0">
            {/* Section: Social mediLink */}
            <section className="mb-4">
                <Link className="btn btn-outline-light btn-floating m-1" to="www.Facebook.com" >
                  <i className="fab fa-facebook-f"></i>
                </Link>

                <Link className="btn btn-outline-light btn-floating m-1" to="www.Twitter.com" >
                  <i className="fab fa-twitter"></i>
                </Link>

                <Link className="btn btn-outline-light btn-floating m-1" to="www.Google.com" >
                  <i className="fab fa-google"></i>
                </Link>

                <Link className="btn btn-outline-light btn-floating m-1" to="www.Instagram.com" >
                  <i className="fab fa-instagram"></i>
                </Link>

                <Link className="btn btn-outline-light btn-floating m-1" to="www.Linkedin.com" >
                  <i className="fab fa-linkedin-in"></i>
                </Link>

                <Link className="btn btn-outline-light btn-floating m-1" to="www.Github.com">
                  <i className="fab fa-github"></i>
                </Link>
            </section>
        </div>
        <div className="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <Link className="text-white" to="https://mdbootstrap.com/">MDBootstrap.com</Link>
        </div>
    </footer>
  </div>