.cards-list {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}
.margin05rem {
    margin:0.5rem auto;
    text-decoration: none;
    width: 80%;

    
}
.heigt40rem{
    height: 30rem;
    margin:1.5rem;
    padding: 1.5rem;
}